{% extends "base.html" %}

{% load static %}

{% block body %}
<!-- Profile section -->
<section id='profile-section'>
    <div class="container pt-100px h-100 d-flex justify-content-center">
        <div class="row profile-content">
            <div class="col-4 align-items-start">
                <div class="profile-image ml-auto">
                    {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" alt="">
                    {% else %}
                    <img src="{% static 'image/user.png' %}" alt="profile" class="" />
                    {% endif %}
                </div>
            </div>
            <div class="col-8">
                <p class="profile-nickname">{{ user.profile.nickname }}</p>
                <p class="post-liked">
                    <span>게시물 {{ user.memo_set.all.count }}</span>
                    <span>좋아요 {{ user.like_memos.all.count }}</span>
                </p>
                <p class="profile-description">{{ user.profile.description }}
                    dsjkjdksjkdjskjdksjdjsjdksjdkjsdkjskdjksjd
                    dsjkjdksjkdjskjdksjdjsjdksjdkjsdkjskdjksjd
                </p>
            </div>
        </div>
    </div>
</section>
<!-- memo section -->
<section id="memo-section">
    <div class="container">
        <div class="menubar">
            <a href="" style="font-size:10px;" data-toggle="tooltip" data-placement="top" title="작성한 게시물">
                <span>POSTS</span>
            </a>
            <a href="" data-toggle="tooltip" data-placement="top" title="좋아하는 게시물">
                <span>LIKED</span>
            </a>
        </div>
        <div class="card-columns">
        {% for memo in user.memo_set.all %}
            <div class="card gradient-border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">{{ memo.title }}</h5>
                            <p class="card-subtitle mb-2 text-muted">{{ memo.updated_at }}</p>
                            <p class="card-subtitle mb-2 text-muted">{{ memo.user.profile.nickname }}님의 글</p>
                        </div>
                        <div class="col-3 text-center like-field pt-1">
                            <a href="{% url 'memos:like' memo.id %}">
                                {% if user in memo.like_users.all %}
                                <i class="fas fa-heart"></i>
                                {% else %}
                                <i class="far fa-heart"></i>
                                {% endif %}
                            </a>
                            <p class="pt-1">좋아요 {{ memo.like_users.count }}개</p>
                        </div>
                    </div>
                    <!-- <span class="badge badge-warning">Health</span> -->
                    <p class="card-text">{{ memo.content }}</p>
                    {% if user == memo.user %}
                    <div class="card-btn text-right">
                        <a href="{% url 'memos:update' memo.id %}" class="btn btn-outline-secondary btn-sm">수정</a>
                        <form action="{% url 'memos:delete' memo.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-outline-secondary btn-sm" value="삭제">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<script>
    // scroll control
    var ovf, slider;
    $(function(){
        ovf = this.getElementById("memo-section");
        slider = this.getElementById("profile-section");
        winResize();
        $(window).bind({resize: winResize, scroll: winScroll});
    });
    function winResize(){
        ovf.style.top = slider.offsetHeight + "px";
    }

    function winScroll(){
        var op = 1 - (window.pageYOffset / slider.offsetHeight);
        slider.style.opacity = op;
    }
    // Tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock body %}