html, body {
    height: 100vh;
    background-color: #f6f6f6;
}
.card {
    background: #ffffff;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    border-radius: 16px!important;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.card:hover {
    box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}

.preview-card{
    width: 350px;
    height: 420px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.card-title{
    font-size:20px;
}
.card-subtitle{
    font-size:15px;
}

.like-field p{
    font-size: 12px;
}
.like-field i{
    color: #c43a30;
}

.card-btn {
    text-align: right;
}
  
@media screen and (max-width: 1170px) {
    .preview-card{
        width: 100%;
    }
}

.h-fix{
    height : calc(100vh - 120px - 5vh);
}

