{% extends "base.html" %}

{% load bootstrap4 %}

{% block body %}
<div class="container">
    <div class="row align-items-center h-fix">
        <div class="col-lg-6">
            <!-- TODO : 메모장 미리보기 -->
            <div class="card preview-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">Live in the Moment</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Do focus on what is happening right now, and Do not worry about the past or the future.</h6>
                        </div>
                        <div class="col-3 text-center like-field pt-1">
                            <i class="fas fa-heart"></i>
                            <p class="pt-1">좋아요 1K개</p>
                        </div>
                        <!-- <div class="col-12">
                            <span class="badge badge-primary">Enjoy</span>
                            <span class="badge badge-secondary">Sweet</span>
                            <span class="badge badge-success">Success</span>
                            <span class="badge badge-danger">Love</span>
                            <span class="badge badge-warning">Happy</span>
                            <span class="badge badge-info">Info</span>
                            <span class="badge badge-light">Light</span>
                            <span class="badge badge-dark">Dark</span>
                        </div> -->
                    </div>
                    <p class="card-text">
                        <br/>
                        자유롭게 메모하고 공유하세요! 
                        <br/>
                        익명의 사람뿐만 아니라 자신을 위해, 순간의 감정과 기억을 기록하세요.
                        <br/>
                        <br/>
                        Feel free to write and share! 
                        <br/>
                        You can write moments of memory and emotion for anonymous people and yourself.
                    </p>
                    <!-- <div class="card-link text-right">
                        <a class="github-button" href="https://github.com/naye0ng" aria-label="Follow @naye0ng on GitHub">Follow</a>
                        <a class="github-button" href="https://github.com/naye0ng/Personal-or-Group-Notes-App" aria-label="Star naye0ng/Personal-or-Group-Notes-App on GitHub">Star</a>
                    </div>     -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <form method='POST'>
                {% csrf_token %}
                <!-- 모델 폼 -->
                {% bootstrap_form form %}
                <button type='submit' class='btn btn-primary'>로그인</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
